OSU_OAUTH_CLIENT_ID=12345
OSU_OAUTH_CLIENT_SECRET=secret
OSU_OAUTH_REDIRECT_URL_BASE=https://link.example.com
BOT_LINK_COMMAND=s link
LINK_DB_HOST=osubot-link-db
LINK_DB_PORT=5432
LINK_DB_NAME=osu_link
LINK_DB_USER=osu_link
LINK_DB_PASSWORD=osu_link
# Retry connection on startup
LINK_DB_CONNECT_RETRIES=30
LINK_DB_CONNECT_DELAY_SECONDS=1
LINK_CODE_TTL_SECONDS=600
COOKIE_SECURE=true
